<div class="header">
  <h2>OmegaShop</h2>
  <div class="nav" *ngIf="!!user">
    <button mat-icon-button matTooltip="Your Favorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Your Cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Log Out" (click)="logout()">
      <img *ngIf="!!user" [src]="user.image">
    </button>
  </div>
  <div class="nav" *ngIf="!user">
    <button mat-flat-button (click)="login()">
      <mat-icon>open_in_browser</mat-icon> Log In
    </button>
  </div>
</div>
